.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .add-menu {
    padding: 1rem;
    &__button {
      border-radius: 16px !important;
      font-size: 18px !important;
      padding: 1.2rem 1rem !important;
    }
  }

  .bids-list-wrapper {
    padding: 1rem;
  }

  .bids-list {
    &__header {
      display: grid;
      grid-template-columns: repeat(1, 1fr 3fr 1fr 1fr);
      justify-content: space-between;
      justify-items: start;
      padding-bottom: 1.3rem;
      font-weight: 600;
    }

    &__link {
      text-decoration: none;
      color: #000;
    }

    &__item {
      display: grid;
      grid-template-columns: repeat(1, 1fr 3fr 1fr 1fr);
      justify-items: start;
      align-items: center;
      border-bottom: solid 1px #00000025;
      padding: 0.8rem 0;

      &:hover {
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
      }

      // .badge {
      //   width: 5px;
      //   min-height: 66px;
      // }

      .status {
        padding: 0.2rem 0.5rem;
        border-radius: 15px;
      }
    }
  }
}
